name: Triggering Events

on:
  push:

  workflow_dispatch:  

jobs:
  echo-event:
    runs-on: ubuntu-24.04
    steps:
      - name: Dump full event JSON
        run: |
          echo "=== $GITHUB_EVENT_PATH PAYLOAD ==="
          cat "$GITHUB_EVENT_PATH"
  
