name: Passing Variables between jobs
on:
  workflow_dispatch:

jobs: 
  producer:
    runs-on: ubuntu-24.04
    
    outputs:
      foo: ${{steps.generate-foo.outputs.foo}}
    steps:
      - name: Generate and export foo
        id: generate-foo 
        run: |
          foo=bar
          # 1) Step output (for job output)
          echo "foo=${foo}" >> "$GITHUB_OUTPUT"

          # 2) Job-scoped env variables 
          echo "FOO=${foo}" >> "$GITHUB_ENV"

      - name: Inspect values inside producer
        runs: |
          echo "FOO {set via GITHUB_ENV}: $FOO"
          echo "foo {step output}: ${{ steps.generate-foo.outputs.foo}}"

  consumer:
    runs-on: ubuntu-24.04
    needs: producer
    steps:
      - name: Inspect values inside consumer (note FOO is unset)
        run: |
          echo "Value from producer: ${{needs.producer.outputs.foo}}"
          echo "FOO in consumer: ${{FOO:-<UNSET>}}"

