name: Secrets and environments
on: 
  workflow_dispatch:

jobs:
  staging-environment:
    runs-on: ubuntu-24.04
    environment: staging  
    env:
      EXAMPLE_REPO_SECRET: ${{ secrets.EXAMPLE_REPO_SECRET }}
      EXAMPLE_REPO_VARIABLE: ${{ vars.EXAMPLE_REPO_VARIABLE }}

      EXAMPLE_ENV_SECRET: ${{ secrets.EXAMPLE_ENV_SECRET }}
      EXAMPLE_ENV_VARIABLE: ${{ vars.EXAMPLE_ENV_VARIABLE }}
    steps:
      - name: Inspect variable inside job
        run: |
          echo "Repo secrets (masked): $EXAMPLE_REPO_SECRET"    
          echo "Repo variable :        $EXAMPLE_REPO_VARIABLE"    
          echo "ENV secrets (masked): $EXAMPLE_ENV_SECRET"    
          echo "ENV variable (masked): $EXAMPLE_ENV_VARIABLE"

  production-enviroment:
    runs-on: ubuntu-24.04
    environment: production
    env:
      EXAMPLE_REPO_SECRET: ${{ secrets.EXAMPLE_REPO_SECRET }}
      EXAMPLE_REPO_VARIABLE: ${{ vars.EXAMPLE_REPO_VARIABLE }}

      EXAMPLE_ENV_SECRET: ${{ secrets.EXAMPLE_ENV_SECRET }}
      EXAMPLE_ENV_VARIABLE: ${{ vars.EXAMPLE_ENV_VARIABLE }}
    steps:
      - name: Inspect values inside job
        run: |
          echo "Repo secrets (masked): $EXAMPLE_REPO_SECRET"    
          echo "Repo variable :        $EXAMPLE_REPO_VARIABLE"    
          echo "ENV secrets (masked): $EXAMPLE_ENV_SECRET"    
          echo "ENV variable (masked): $EXAMPLE_ENV_VARIABLE"        

