name: Triggering Events

on:
  push:
    branches:
      - example-branch*

  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    paths:
      - '*.txt'
      - '!*.md'

  schedule:
    - cron: '0 0 * * *'

  workflow_dispatch:  

jobs:
  echo-event:
    runs-on: ubuntu-24.04
    steps:
      - name: Dump full event JSON
        run: |
          echo "=== $GITHUB_EVENT_PATH PAYLOAD ==="
          cat "$GITHUB_EVENT_PATH"
